.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 1250;
   overflow-y: hidden;
}

// ==============================
@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
   &::before {
      position: absolute;
      content: '';
      top: $y;
      left: $x;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 15px;
      transform: scale($size);
      -webkit-filter: blur($spread);
      -moz-filter: blur($spread);
      -ms-filter: blur($spread);
      filter: blur($spread);
      background: linear-gradient(270deg, $colorA, $colorB);
      background-size: 200%;
      animation: animateGlow $duration cubic-bezier(0.4, 0, 0.2, 1) infinite;

      @keyframes animateGlow {
         0% {
            background-position: 0% 50%;
         }
         50% {
            background-position: 100% 50%;
         }
         100% {
            background-position: 0% 50%;
         }
      }
   }
}

.modal {
   position: relative;
   max-width: calc(100vw - 48px);
   max-height: calc(100vh - 24px);
   line-height: 30vw;
   text-align: center;
   color: #252b37;
   background-color: #151823;
   border-radius: 15px;
   z-index: 1200;
   animation: textColor 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
   @include backlight(0, 0, 7vw, 0.93, #f42f03, #0363f4, 2s);

   @keyframes textColor {
      0% {
         color: #ff3b0f;
      }
      50% {
         color: #0f67ff;
      }
      100% {
         color: #ff3b0f;
      }
   }
}
.modal > img {
   border-radius: 18px;
}
