.app {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 16px;
   padding-bottom: 40px;
}
.app__title {
   margin: 0;
   text-align: center;
   color: #fff;
   text-shadow: 0 0 5px rgb(237, 79, 79), 0 0 10px rgb(237, 79, 79),
      0 0 15px rgb(237, 79, 79), 0 0 20px #ff3305, 0 0 30px #ff3305,
      0 0 40px #ff3305, 0 0 55px #ff3305, 0 0 75px #ff3305,
      2px 2px 2px rgba(206, 28, 10, 0);

   .title__after {
      text-shadow: 0 0 5px rgb(82, 79, 237), 0 0 10px rgb(82, 79, 237),
         0 0 15px rgb(82, 79, 237), 0 0 20px #0363f4, 0 0 30px #0363f4,
         0 0 40px #0363f4, 0 0 55px #0363f4, 0 0 75px #0363f4,
         2px 2px 2px rgba(206, 28, 10, 0);
   }
   .title__dot_one {
      text-shadow: 0 0 5px rgb(82, 79, 237), 0 0 10px rgb(82, 79, 237),
         0 0 15px rgb(237, 182, 79), 0 0 20px #f48c03, 0 0 30px #f48c03,
         0 0 40px #f48c03, 0 0 55px #f48c03, 0 0 75px #f48c03,
         2px 2px 2px rgba(206, 28, 10, 0);
   }
   .title__dot_two {
      text-shadow: 0 0 5px rgb(82, 79, 237), 0 0 10px rgb(82, 79, 237),
         0 0 15px rgb(82, 79, 237), 0 0 20px #0363f4, 0 0 30px #0363f4,
         0 0 40px #0363f4, 0 0 55px #0363f4, 0 0 75px #0363f4,
         2px 2px 2px rgba(206, 28, 10, 0);
   }
   .title__dot_last {
      text-shadow: 0 0 5px rgb(82, 79, 237), 0 0 10px rgb(82, 79, 237),
         0 0 15px rgb(82, 79, 237), 0 0 20px #0363f4, 0 0 30px #0363f4,
         0 0 40px #0363f4, 0 0 55px #0363f4, 0 0 75px #0363f4,
         2px 2px 2px rgba(206, 28, 10, 0);
   }
}

.app__loader {
   text-align: center;
   margin-right: auto;
   margin-left: auto;
}

.modal__img {
   border-radius: 15px;
}
